@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: all 0.2s;

}

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --VeryLightGrayishBlue: hsl(210, 60%, 98%);
  --LightGrayishBlue1: hsl(211, 68%, 94%);
  --LightGrayishBlue2: hsl(205, 33%, 90%);
  --GrayishBlue: hsl(219, 14%, 63%);
  --DarkGrayishBlue: hsl(219, 12%, 42%);
  --VeryDarkBlue: hsl(224, 21%, 14%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section {
  display: grid;
  grid-column: 3;
  background: var(--White);
  padding: 24px;
  border-radius: 9px;
  height: 90vh;
  width: 700px;
  box-shadow: 0 0 33px 0px #6e6b6b2b;
  overflow-y: scroll;

}

.notificationTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.notificationTitle h4 {
  font-size: 24px;
  color: black;
}

.notificationTitle span {

  color: var(--White);
  padding: 5px 12px;
  background-color: var(--Blue);
  border-radius: 6px;
  font-size: 18px;
  margin-left: 5px;
}

.notificationTitle p {
  font-size: 18px;
  font-weight: 500;
  color: var(--DarkGrayishBlue);
}

.notificationTitle p:hover {
  color: var(--Blue);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

.content_profile {
  height: 50px;
}

.content_profile img {
  height: 100%;
}

.information {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 5px;
}

.information p {
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.information span {
  font-weight: 500;
  color: var(--GrayishBlue);
  margin: 0 5px;
}

.information b {
  font-weight: 800;
  color: var(--DarkGrayishBlue);
}

.information b:hover {
  color: var(--Blue);
}

.information small {
  font-size: 16px;
  font-weight: 500;
  color: var(--GrayishBlue);
}

.material-symbols-outlined {
  background-color: var(--Red);
  width:8px;
  height:8px;
  border-radius:50px;
}

.maine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  background-color: var(--VeryLightGrayishBlue);
}

.messene {
  display: flex;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  margin-left: 70px;
  border: 1px solid var(--DarkGrayishBlue);

}

.messene:hover {
  background-color: var(--LightGrayishBlue1);
  border: 1px solid var(--LightGrayishBlue1);
}

.messene p {
  font-size: 16px;
  font-weight: 500;
  color: var(--DarkGrayishBlue);
}

.foods {
  display: flex;
  align-items: flex-start;
  margin: 0 10px;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 380px) {
  .notificationTitle h4 {
    font-size: 18px;
  }

  .notificationTitle span {
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .notificationTitle p {
    font-size: 16px;
  }

  .information p {
    font-size: 14px;
    font-weight: 700;
  }

  .information span {
    margin: 0;
  }

  .information small {
    font-size: 12px;
    margin-top: 5px;
  }

  .material-symbols-outlined {
    width: 6px;
    height:6px;
  }

  .messene {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;

  }

  .messene p {
    font-size: 13px;
  }
}
